<div class="row">
  <div class="container" style="text-align: center" >
      <p>Họ và tên: Võ Ngọc Công Minh</p>
      <p>MSSV: 1412328</p>
      <p>Email: <a href="mailto:congminhvo171@gmail.com">congminhvo171@gmail.com</a></p>
      <img src="images/minh.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
  </div>


  <div  style="text-align: center;">
    <p style="color: grey;">Địa chỉ liên lạc</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.634266542791!2d106.67983811398787!3d10.7626443623929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1c06f4e1dd%3A0x43900f1d4539a3d!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBLaG9hIGjhu41jIFThu7Egbmhpw6pu!5e0!3m2!1svi!2s!4v1491980701263" width="800" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
  </div>
